
{% extends "myparent.html" %}

{% load static %}

{% block title %}
<title>Fashion Club an Ecommerce Online Shopping Category  Flat Bootstrap responsive Website Template | Home :: w3layouts</title>
{% endblock %}

{% block content %}

<div class="login">

		<div class="main-agileits">
				<div class="form-w3agile">
					<h3>Change Password</h3>
					<table class="table">
					<form action="{% url 'changepassword' %}" method="post">
						{% csrf_token %}
						<input type="password" placeholder="Old Password" class="form-control" required name="oldpassword"><br>
						<input type="password" name="password1" class="form-control" required placeholder="New Password"><br>
						<input type="password" name="password2" class="form-control" required placeholder="Confirm Password"><br>
						<tr><input type="submit" value="Change Password"></td></tr>
						<tr><td>{% if messages %}
							{% for message in messages %}
							{{ message }}
							{% endfor %}
							{% endif %}</td></tr>
					</form>
					</table>

				</div>


				</div>

			</div>
		</div>


{% endblock %}